@import "variables";
@import "mixins";

.form {
  display: flex;

  &.horizontal {
    flex-direction: column;

    @include for-tablet-portrait-up {
      flex-direction: row;

    }

    & > *:not(:last-child) {

      @include for-phone-only {
        margin-bottom: 15px;
      }

      @include for-tablet-portrait-up {
        margin-right: 15px;
      }
    }
  }

  input {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid $dark-gray;
    height: 30px;
    width: 100%;

    @include for-tablet-portrait-up {
      width: auto;
    }
  }

  button {
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: $dark-gray;
    color: $white;
    padding: 0 15px;
    transition: background-color .3s;
    height: 30px;
    width: 100%;

    @include for-tablet-portrait-up {
      width: auto;
    }

    &:hover {
      background-color: $brand-green;
    }
  }
}
