@import "variables";

.form {
  display: flex;

  &.horizontal {
    flex-direction: row;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  input {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid $dark-gray;
    height: 30px;
  }

  button {
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: $dark-gray;
    color: $white;
    padding: 0 15px;
    transition: background-color .3s;

    &:hover {
      background-color: $brand-green;
    }
  }
}
