@import "variables";

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  border-radius: 50%;
  margin-right: 5px;
}

.name {
  margin-bottom: 5px;
  font-weight: bold;
}

.event {
  font-size: 14px;
}

.logout {
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: $dark-gray;
  color: $white;
  cursor: pointer;
}
